@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2c1e31; 
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffcc00;
    font-family: 'Press Start 2P', cursive; 
    z-index: 2;
    pointer-events: none;
    text-shadow: 4px 4px #000;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 0.8rem;
    color: #ffffff;
}